In [1]:
cd H:\Data analytics project 1 4th yr

H:\Data analytics project 1 4th yr

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
dt = pd.read_csv('H:/Data analytics project 1 4th yr/train.csv')
pd.set_option('display.max_columns', None)

Gender: Gender of the passengers (Female, Male)
Customer Type: The customer type (Loyal customer, disloyal customer)
Age: The actual age of the passengers
Type of Travel: Purpose of the flight of the passengers (Personal Travel, Business Travel)
Class: Travel class in the plane of the passengers (Business, Eco, Eco Plus)
Flight distance: The flight distance of this journey
Inflight wifi service: Satisfaction level of the inflight wifi service (0:Not Applicable;1-5)
Departure/Arrival time convenient: Satisfaction level of Departure/Arrival time convenient
Ease of Online booking: Satisfaction level of online booking
Gate location: Satisfaction level of Gate location
Food and drink: Satisfaction level of Food and drink
Online boarding: Satisfaction level of online boarding
Seat comfort: Satisfaction level of Seat comfort
Inflight entertainment: Satisfaction level of inflight entertainment
On-board service: Satisfaction level of On-board service
Leg room service: Satisfaction level of Leg room service
Baggage handling: Satisfaction level of baggage handling
Check-in service: Satisfaction level of Check-in service
Inflight service: Satisfaction level of inflight service
Cleanliness: Satisfaction level of Cleanliness
Departure Delay in Minutes: Minutes delayed when departure
Arrival Delay in Minutes: Minutes delayed when Arrival
Satisfaction: Airline satisfaction level(Satisfaction, neutral or dissatisfaction)

In [11]:
dt.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,5,3,5,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,1,3,1,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,5,5,5,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,2,2,2,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,4,5,5,3,3,4,4,3,3,3,0,0.0,satisfied

# Removing 'unnamed: 0, id

In [12]:
dt = dt.drop(['Unnamed: 0','id'], axis = 1)
dt.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,5,3,5,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,1,3,1,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,5,5,5,5,4,3,4,4,4,5,0,0.0,satisfied
3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,2,2,2,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,4,5,5,3,3,4,4,3,3,3,0,0.0,satisfied

In [16]:
print(dt.duplicated().sum())

0

In [27]:
print(dt.isnull().sum())

Age                                    0
Flight Distance                        0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
Gender                                 0
Customer Type                          0
Type of Travel                         0
Class                                  0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
satisfaction                           0
dtype: int64

In [19]:
dt1 = dt[['Age','Flight Distance','Departure Delay in Minutes','Arrival Delay in Minutes']]
dt1.head()

   Age  Flight Distance  Departure Delay in Minutes  Arrival Delay in Minutes
0   13              460                          25                      18.0
1   25              235                           1                       6.0
2   26             1142                           0                       0.0
3   25              562                          11                       9.0
4   61              214                           0                       0.0

In [21]:
dt2 = dt.drop(['Age','Flight Distance','Departure Delay in Minutes','Arrival Delay in Minutes'], axis = 1)
dt2.head()

,Gender,Customer Type,Type of Travel,Class,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,satisfaction
0,Male,Loyal Customer,Personal Travel,Eco Plus,3,4,3,1,5,3,5,5,4,3,4,4,5,5,neutral or dissatisfied
1,Male,disloyal Customer,Business travel,Business,3,2,3,3,1,3,1,1,1,5,3,1,4,1,neutral or dissatisfied
2,Female,Loyal Customer,Business travel,Business,2,2,2,2,5,5,5,5,4,3,4,4,4,5,satisfied
3,Female,Loyal Customer,Business travel,Business,2,5,5,5,2,2,2,2,2,5,3,1,4,2,neutral or dissatisfied
4,Male,Loyal Customer,Business travel,Business,3,3,3,3,4,5,5,3,3,4,4,3,3,3,satisfied

In [22]:
dt2 = dt2.astype(str)
dt = pd.concat([dt1,dt2], axis = 1)

In [25]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Age                                103904 non-null  int64
 1   Flight Distance                    103904 non-null  int64
 2   Departure Delay in Minutes         103904 non-null  int64
 3   Arrival Delay in Minutes           103594 non-null  float64
 4   Gender                             103904 non-null  object
 5   Customer Type                      103904 non-null  object
 6   Type of Travel                     103904 non-null  object
 7   Class                              103904 non-null  object
 8   Inflight wifi service              103904 non-null  object
 9   Departure/Arrival time convenient  103904 non-null  object
 10  Ease of Online booking             103904 non-null  object
 11  Gate location                      103904 non-null  object
 12  Food and drink                     103904 non-null  object
 13  Online boarding                    103904 non-null  object
 14  Seat comfort                       103904 non-null  object
 15  Inflight entertainment             103904 non-null  object
 16  On-board service                   103904 non-null  object
 17  Leg room service                   103904 non-null  object
 18  Baggage handling                   103904 non-null  object
 19  Checkin service                    103904 non-null  object
 20  Inflight service                   103904 non-null  object
 21  Cleanliness                        103904 non-null  object
 22  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(3), object(19)
memory usage: 18.2+ MB